body {
  padding: 20vh 20vw;
  text-align: center;
}

.innerContainer {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin: 5vh 0;
}

button {
  background-color: antiquewhite;
  border: none;
  padding: 2vh 4vw;
  font-size: 30px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 20px grey;
}

p {
  font-size: 50px;
}